.muffuletta-form {
    font-size: 1.2em;
    font-family: 'dosis';
}

.muffuletta-form label{
    display: block;
    margin-top: 10px;
    margin-left: 5%;
}

.text-input{
    max-width: 500px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.textarea-input {
    max-width: 1000px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

#submit-input {
    padding: 15px;
    border-radius: 75px;
    background-color: #fff;
    border: 2px solid #fff;
    box-shadow: 5px 5px;
    font-size: 1.2em;
    margin-top: 10px;
    margin-left: 5%;
}

#submit-input:hover {
    background-color: #fff;
    box-shadow: 0px 0px;
    border: 2px solid #222;
    box-shadow: 5px 5px #fffaf0;
}

#submit-input:active {
    background-color: #efefef;
    box-shadow: 0px 0px;
    border: 2px solid #222;
    box-shadow: 5px 5px #fffaf0;
}
